<nav xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="navFragment"
     class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Library App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/library/books/add">Add book<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/library/books/search">Find book</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/library/books/search/quick}" method="get">
                    <input class="form-control mr-sm-2" type="search" th:name="title" placeholder="Enter book title" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Quick search</button>
                </form>
            </li>
        </ul>
        <div sec:authorize="isAnonymous()">
            <a class="btn btn-link" th:href="@{/login}" role="button">Login</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}">
                Hello, <span sec:authentication="name"></span>
                <button class="btn btn-link" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>
