<nav xmlns:th="http://www.thymeleaf.org" th:fragment="navFragment"
     class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/home}">Library App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/library/books/add}">Add book<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/library/books/search}">Find book</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/library/books/search/title}" method="get">
            <input class="form-control mr-sm-2" type="search" th:name="title" placeholder="Enter book title" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Quick search</button>
        </form>
    </div>
</nav>
